# Directories
logs/
saves/
screenshots/
resourcepacks/
memory_repo/
.mixin.out/
astralsorcery/
!config/astralsorcery/
journeymap/
snapshots-server/


# Files
*.jar
crafttweaker.log
BotaniaVars.dat
realms_persistence.json
usercache.json
usernamecache.json
options.txt
splash.properties