# Directories
memory_repo/
.mixin.out/
astralsorcery/
!config/astralsorcery/
journeymap/
snapshots-server/
mods/OpenTerrainGenerator/


# Files
*.jar
crafttweaker.log
BotaniaVars.dat
splash.properties
config/buildcraft/detailed.properties
config/MouseTweaks.cfg


# Minecraft
logs/
saves/
screenshots/
resourcepacks/
crash-reports/
realms_persistence.json
usercache.json
usernamecache.json
options.txt